﻿@using Sitecore.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bootstrap Grid System using Sitecore 9 Dynamic Placeholders</title>
    <!-- Bootstrap core CSS -->
    <!-- Bootstrap core CSS -->
    <link href="//blackrockdigital.github.io/startbootstrap-freelancer/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="//blackrockdigital.github.io/startbootstrap-freelancer/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="//blackrockdigital.github.io/startbootstrap-freelancer/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="//blackrockdigital.github.io/startbootstrap-freelancer/css/freelancer.min.css" rel="stylesheet">
</head>
<body>
    <div>
        @Html.Sitecore().DynamicPlaceholder("grids")
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="//blackrockdigital.github.io/startbootstrap-freelancer/vendor/jquery/jquery.min.js"></script>
    <script src="//blackrockdigital.github.io/startbootstrap-freelancer/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="//blackrockdigital.github.io/startbootstrap-freelancer/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="//blackrockdigital.github.io/startbootstrap-freelancer/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="//blackrockdigital.github.io/startbootstrap-freelancer/js/jqBootstrapValidation.js"></script>
    <script src="//blackrockdigital.github.io/startbootstrap-freelancer/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="//blackrockdigital.github.io/startbootstrap-freelancer/js/freelancer.min.js"></script>

</body>
</html>
